*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
    border:none;
}
html, body {
    height:100%;
    width: 100%;
}
body{
    position:relative;
}
header{
    display:flex;
    height:40px;
    width:100%;
    background-color: rgb(100,100,100);
    align-items:center;
    position:relative;
}
header span{
    position: absolute;
    left:20px;
}
header div{
    position: absolute;
    right:20px;
}
main{
    height: calc(100% - 40px - 80px);
    width:100%;
    background-color:rgb(200,200,200);
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:10px;
    padding: 10px 10px;
    overflow:auto;
    align-content:start;
}
.list{
    max-height:200px;
    height:160px;
    background-color:white;
    display: flex;
    text-align: center;
    align-items:center;
    flex-direction:column;
    padding:5px;
    justify-content:space-evenly;
}
.list input{
    width:40%;
    height:24px;
    border:1px solid black;
}
.list-counter{
    display:flex;
    justify-content:center;
    align-items:center;
}
.list-counter button{
    width:24px;
    height:24px;
}
.add-to-order{
    width:90% ;
    height: 50px;
}
order{
    position: absolute;
    background-color:rgb(100,100,100);
    bottom: 0;
    width:100%;
    height:80px;
    display:flex;
    align-items: center;
}
order button{
    position: absolute;
    width: 40%;
    height:50%;
    right: 10px;
}
order #items{
    position: absolute;
    left:10px;
    display:flex;
    flex-direction:column;
    align-itedms:center;
}
@media(min-width:762px){
    header{
        height:80px;
        font-size:30px;
    }
    header select{
        width: 200px;
        height:30px;
    }
    main{
        height: calc(100% - 80px - 80px);
        grid-template-columns:repeat(6,1fr);
        padding:10px 20px;
    }
    .list{
        height: 180px ;
    }
}